@page
@using WebApplication1.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



 <table id="map">

 </table>
 
 <!--
  <svg width = "0" height = "0" style="margin: 0; padding: 0;">
     <defs>
         <svg id="arrow-template" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox = "0 0 30 30" preserveAspectRatio="xMinYMid">
            <g>
                <rect x="3.791" y="5.087" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.287 10.0139)" width="50%" height="5.361"/>
                <rect x="3.778" y="11.427" transform="matrix(0.7071 0.7071 -0.7071 0.7071 13.1761 -3.5973)" width="50%" height="5.361"/>
            </g>
        </svg>
        <svg id="target-template" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="black">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3-8c0 1.66-1.34 3-3 3s-3-1.34-3-3 1.34-3 3-3 3 1.34 3 3z"/>
        </svg>
         <svg id="point-template" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox = "0 0 30 30" preserveAspectRatio="xMinYMid">
               <circle cx="15" cy="15" r="2" stroke="none" stroke-width="1"/>
        </svg>
        <svg id="line-template" height="210" width="500">
            <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
        </svg>
     </defs>
 </svg>
 -->

@section Scripts {
    <environment include="Development">
        <script src ="js/tile.js"></script>
        <script src = "js/core.js"></script>
        <script src="js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="js/core.min.js" asp-append-version="true" defer></script>
        <script src="js/site.min.js" asp-append-version="true" defer></script>
    </environment>
}